@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Single+Day&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Single+Day&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Single+Day&display=swap");
* {
  margin: 0;
  padding: 0;
}
.main-container {
  display: flex;
}

.first-container {
  width: 800px;
  height: 695px;
  background-image: url("image1.png");
}
.div1-para {
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  font-weight: 900;
  line-height: 77.93px;
  letter-spacing: 2%;
  font-size: 55px;
  position: relative;
  margin-left: 20px;
  top: 470px;
}

.second-container {
  width: 750px;
  height: 695px;
  background: black;

}
.heading {
  font-family: "Single Day", sans-serif;
  font-weight: 600;
  font-size: 50px;
  /* line-height: 93.59px; */
  color: #72db73;

  text-align: center;
  height: 50px;
  width: 300px;
  /* border: 2px solid red; */
  position: relative;
  left: 200px;
}

.div2-line {
  color: #ffffff;
  font-family: "DM Sans", sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  line-height: 34.92px;
  position: relative;
  top: 16px;
}

.form-section {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.input-section {
  background: #292929;
  width: 420px;
  height: 50px;
  top: 312px;
  margin-top: 20px;
  border-radius: 3.82px;
  border: none;
}
::placeholder {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 27.98px;
  letter-spacing: 2%;
  position: relative;
  left: 22px;
  color: #7c7c7c;
}

.checkbox-section {
  display: flex;
  color: white;
  font-weight: 400;
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  position: relative;
  left: 0px;

  justify-content: space-between;
}
.checkmark {
  height: 15px;
  width: 15px;
  background: #d9d9d9;
  cursor: pointer;
  position: relative;
  top: 15px;
  left: 10px;
}
.para {
  /* border: 2px solid red; */
  position: absolute;
  left: 40px;
  top: 10px;
  color: #7c7c7c;
  font-size: 16px;

}
.btn {
  color: white;
  position: absolute;
  top: 40px;
  background: #72db73;
  height: 40px;
  width: 400px;
  border-radius: 28px;
  border: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 2%;
  position: relative;
  left: 15px;
}

.para1{
  color: #7C7C7C;
  
  position: relative;
  top: 60px;

  height: 40px;
  width: 400px;
  font-family: "Roboto", sans-serif;
font-size: 15px;

}
.para2{
  color: #7C7C7C;
  ;
  position: relative;
  top: 70px;

  height: 50px;
  width: 400px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}
span{
  color:  #72DB73;
  
}
